body {
    font-family: Arial;
    background: linear-gradient(135deg, #9e58ba, #c3cfe2);
    display: flex;
    justify-content: center;
    padding: 20px;
    transition: background 0.5s ease;
}

.container {
    width: 100%;
    max-width: 600px;
    background: rgb(157, 107, 214);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 14px;
    background: #440753;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background: #080e14;
}

.note {
    background: #e8f0fe;
    padding: 15px;
    margin-top: 10px;
    border-radius: 6px;
    position: relative;
}

.deleteBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}